@import "tailwindcss";

#page1 {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-image: url("/src/assets/image.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-attachment: fixed;
}

#des{
background-image: url("https://img.freepik.com/free-vector/flat-design-travel-background_23-2149193475.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699056000&semt=ais");
background-repeat: no-repeat;
background-size: 100% 100%;
margin: 0;

}